{
	http_port {$PORT}
	auto_https off
}

caddy-mainnet.up.railway.app {
	redir https://caddy-mainnet.up.railway.app{uri} permanent 
}

www.caddy-mainnet.up.railway.app {
	reverse_proxy app.railway.internal {
			transport http {
					tls
			}
	}
}
